body
{
    margin: 0;
    padding: 0;
    font-family: verdana;
}
.center {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center h3 {
    position: absolute;
    color: #262626;
    line-height: 300px;
    font-size: 2em;
}
.ring {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 0 #262626;
    background: transparent;
    animation: animate 1s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}